<header>
  <h1>
    Life is the bubbles
    Under the sea
  </h1>
  <nav>
    <ul class="navigation">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
</header>
