<header>
  <h1>
    Life is the bubbles
    Under the sea
  </h1>
  <nav>
    <ul class="navigation">
      <li><a href="/sea-turtle"></a>Sea Turtles</li>
      <li><a href="/painted-turtle">Painted Turtles</a></li>
      <li><a href="/box-turtle"></a>Box turtles</li>
    </ul>
  </nav>
</header>
