body {
  background-image: url("/images/background.jpg");
  margin: 0 auto;
}

.content {
  background-color: white;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

header {
  background-image: url("/images/header_bg.");
}

img {
  display: block;
}
