body {
  background-image: url("/images/background.jpg");
  margin: 0 auto;
  color: white;
}

.content {
  background-color: white;
  margin: 0 auto;
}

header {
  background-image: url("/images/header_bg.");
}

img {
  display: block;
}
