img {
  display: block;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  padding: 10px;
}

.img1 {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 500px;
}

.content {
  background-image: url("/images/header_bg.jpg");
  margin: 0 auto;
  width: 90%;
  padding: 40px;
}

.content1 {
  background-image: url("/images/header_bg.jpg");
  margin: 0 auto;
  width: 50%;
  padding: 40px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

body {
  background-image: url("/images/background.jpg");
  margin: 0 auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navigation {
  text-align: center;
  list-style-type: none;
  font-size: 19px;
}

/* For desktop: */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

h1 {
  font-size: 40px;
  text-align: center;
}

li {
  display: inline;
  padding: 5px;
}

a:visited {
  color: #40424a;
}

header {
  margin: 10px;
  font-size: 60px;
}

.background1 {
  background-color: white;
}

a:hover {
  color: black;
}
