<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <div class="content1">
      <div class="background1">
        <h2>Home</h2>
      <img src="/images/turtles.jpg" class="img1" alt="turtles">
    </div>
  </div>
  </article>
  <% include ../partials/footer %>
