<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <div class="content1">
      <div class="background1">
        <h2>Home</h2>
      <img class="img1"src="/images/turtles.jpg"  alt="turtles">
    </div>
  </div>
  </article>
  <% include ../partials/footer %>
