<% include ../partials/head %>
<% include ../partials/header %>
<div id="wrapper"></div>
  <article>
    <div class="content1">
      <img src="/images/turtles.jpg" class="img1" alt="turtles">
    </div>
  </article>
  <% include ../partials/footer %>
