<% include ../partials/head %>
<% include ../partials/header %>
<article>
  <div class="content">
    <img src="/images/turtles.jpg" class="img1" alt="turtles" height="400" width="800">
  </div>
</article>
<% include ../partials/footer %>
