<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <h2><%= articles.title %></h2>
    <p><%= articles.content %></p>
    <p>This is a turtle: <img src="/images/<% articles.image %>"></p>
    <p><% articles.link %></p>
  </article>
<% include ../partials/footer %>
