<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <h2><%= articles.title %></h2>
    <p><%= articles.whatsATurtle %></p>
    <p>This is a turtle: <img src="/images/<% turtle.image %>"></p>
  </article>
<% include ../partials/footer %>
