<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <h2>
      Click this link to check out the different kinds of turtles! +
      <a href="<%= articles.title %>"
      </h2>
    <p>
      <a href="<%= articles.link %>" alt="turtle info"</a>
    </p>
  </article>
<% include ../partials/footer %>
