<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <h2>Check out this website to find out more about turtles! <a href="<%= articles.title %>"</h2>
    <p><%= articles.whatsATurtle %></p>
    <p>This is a turtle: <img src="/images/<% articles.image %>"></p>
  </article>
<% include ../partials/footer %>
