<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <h2><%= articles.title %></h2>
    <p>
      This is a turtle: <img src="/images/<% articles.image %>">
    </p>
    <p><%= articles.content %></p>
  </article>
<% include ../partials/footer %>
